{% extends 'base.html' %}

{% block content %}

<main class="main">

    <div class="main__inner">
        <h1 class="main__title">Anti Corruption Team</h1>
        <p class="main__description">
            Robiya Akramova - Product Manager <br>
            Nasiba Baratova - Software Engineer <br>
            Abdullokh Alimov - Software Engineer <br><br>
        </p>

        <h1 class="main__title">Team Achivements 🏆</h1>
        <p class="main__description">
            <a href="https://uzspace.uz/en/news/view/301">NASA Space Apps Challenge 2022</a><br>
            <a href="https://notiq.pythonanywhere.com/">Mohirfest'22 Hackthon</a> <br>
            <a href="https://alkitob.uz/">Digital Generation Uzbekistan 2021 </a>
        </p>

        
    </div>

</main>

{% endblock %}