{% extends 'base.html' %}

{% block content %}

<main class="main">
    <div class="main__inner">
        <h1 class="main__title">About our project</h1>
        <p class="main__description">
            We use the <a href="{% url 'open_data' %}"> Open Survey Data</a> to create a map that shows which areas of the country have higher or lower levels of
            perceived corruption.
            You are able to zoom in and out on the map to see specific data points. When a you clicks on a
            specific area on the map, you could see more detailed information about the survey responses from that area,
            such as the types
            of corruption reported and the specific incidents that were reported. Also, you can filter the map data by
            different criteria,
            such as type of corruption, time frame, or demographic information.
        </p>
    </div>

    <a href="{% url 'survey' %}"><button class="main__btn">Report new corruption</button></a>
</main>

{% endblock %}